* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(45deg, rgb(100, 0, 100), rgb(0, 60, 60));
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 1300px;
    max-width: 100%;
    margin: auto;
}
header .logo {
    height: 90px;
    width: auto;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
header .logo img {
    height: 85px;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin-left: 5px;
    margin-right: 5px;
    list-style-type: none;
}
header nav ul li a  {
    color: rgba(130, 255, 210, 0.60);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
}
header nav ul li a:hover  {
    color: aquamarine;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.banner {
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
    width: 1300px;
    max-width: 100%;
    margin: auto;
}
.banner-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.banner-left h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0px;
    background: -webkit-linear-gradient(left, purple 0%, aquamarine 100% );
    background: linear-gradient(left, purple 0%, aquamarine 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
}
.banner-left h1::first-letter {
    font-size: 100px;
    letter-spacing: 1px;
}
.banner-left h2 {
    font-size: 25px;
    font-weight: 500;
    background: -webkit-linear-gradient(left, purple 0%, aquamarine 100% );
    background: linear-gradient(left, purple 0%, aquamarine 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
}
.banner-right {
    flex: 1;
    display: flex;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.banner-right  img {
    height: 600px;
    width: auto;
}
.about-us {
    background: linear-gradient(45deg, rgb(50, 0, 50), rgb(100, 25, 25));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.descr_about {
    background: -webkit-linear-gradient(left, rgb(255, 0, 255) 0%, rgb(255, 65, 65) 100% );
    background: linear-gradient(left, rgb(255, 0, 255) 0%, rgb(255, 65, 65) 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
    text-align: center;
    margin: auto;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.descr_about h3 {
    font-size: 45px;
    font-weight: 700;
}
.descr_about p {
    font-weight: 500;
    font-size: 17px;
    width: 350px;
}
.picture {
    background-image: url("/Portifólio/HTML_CSS_JS/WebPage-Sinua/image/john-williams-guitar-player-mal-bray.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.block {
    height: auto;
    background: linear-gradient(45deg, rgba(255, 0, 255, 0.200), rgba(255, 65, 65, 0.350));
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.method {
    overflow-y: hidden;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
}
.image_instruments {
    flex: 1;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.image_instruments div img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}
.image_instruments div:first-child {
    padding-right: 7px;
}
.image_instruments div:last-child {
    padding-left: 7px;
}
.descr_methods {
    background: -webkit-linear-gradient(left, brown 0%, rgb(185, 185, 130) 100%);
    background: linear-gradient(left, brown 0%, rgb(185, 185, 130) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
}
.descr_methods .d2 {
    display: none;
}
.descr_methods .d3 {
    display: none;
}
.descr_methods h3 {
    font-size: 40px;
    font-weight: 700;
}
.descr_methods p {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    width: 350px;
}
.buttons {
    display: flex;
    position: absolute;
    z-index: 99;
    left: 50;
    bottom: 0;
    margin-bottom: 100px;
}
.buttons button {
    background-color: rgba(165, 40, 40, 0.30);
    height: 25px;
    width: 25px;
    border: 2px solid rgb(185, 185, 130, 0.30);
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.buttons button:hover {
    background-color: rgba(165, 40, 40, 0.650);
}
.buttons .active {
    background-color: rgba(165, 40, 40, 0.650);
}
